{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4%}


{% block content %}
    <div class="row bg-light-gray" style="height: 95vh;">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div style="margin-top:100px;">
{#                <h2 class="text-center"><small>{{ school }}</small></h2>#}
                <h1 class="text-center school-font-color rounded-font sk-bold">Login</h1>

                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_field form.username addon_before='<span class="glyphicon glyphicon-user"></span>' %}
                    {% bootstrap_field form.password addon_before='<span class="glyphicon glyphicon-lock"></span>' %}
                    <input type="submit" class="btn btn-block btn-primary">
                </form>
                <p>Have you forgotten your password?</p>
            </div>

        </div>

    </div>



{% endblock %}
