{% load static %}
<script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>

<script src="{% static 'vendors/jquery/jquery-easing-1.3.js' %}"></script>
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap-material-design.min.js' %}"></script>
<script defer src="{% static 'vendors/fontawesome/all.min.js' %}"></script>

<script src="{% static 'vendors/velocity/velocity.min.js' %}"></script>

<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
<script src="{% static 'base.js' %}"></script>

