{% load static %}
<script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap-material-design.min.js' %}"></script>
<script defer src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/velocity/velocity.min.js' %}"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
<script>
//$.extend(true, $.fn.datetimepicker.defaults, {
//    icons: {
//        time: 'far fa-clock',
//        date: 'far fa-calendar',
//        up: 'fas fa-arrow-up',
//        down: 'fas fa-arrow-down',
//        previous: 'fas fa-chevron-left',
//        next: 'fas fa-chevron-right',
//        today: 'fas fa-calendar-check',
//        clear: 'far fa-trash-alt',
//        close: 'far fa-times-circle'
//    }
//});
</script >
<script src="{% static 'base.js' %}"></script>

