.fade-enter-active
.fade-leave-active
    transition opacity .5s
.fade-enter
.fade-leave-to
    opacity 0

.fade-right-enter-active
.fade-right-leave-active
    transition-property opacity transform
    transition-duration 0.4s
    transition-timing-function ease-in-out
    transition-delay 0 0.2s

.fade-right-enter
    opacity 0
    transform translateX(-10px)

.fade-right-leave-to
    opacity 0
    transform translateX(10px)

.fade-down-enter-active
.fade-down-leave-active
.fade-up-enter-active
.fade-up-leave-active
.fade-down-up-enter-active
.fade-down-up-leave-active
.fade-up-down-enter-active
.fade-up-down-leave-active
    transition-property opacity transform
    transition-duration 0.4s
    transition-timing-function ease-in-out
    transition-delay 0 0.2s

.fade-down-enter
    opacity 0
    transform translateY(-10px)

.fade-down-leave-to
    opacity 0
    transform translateY(10px)

.fade-up-enter
    opacity 0
    transform translateY(10px)

.fade-up-leave-to
    opacity 0
    transform translateY(-10px)

.fade-up-down-enter
    opacity 0
    transform translateY(-10px)

.fade-up-down-leave-to
    opacity 0
    transform translateY(-10px)

.fade-down-up-enter
    opacity 0
    transform translateY(10px)

.fade-down-up-leave-to
    opacity 0
    transform translateY(10px)
