green = forestgreen
green_aux = limegreen
orange = orangered
orange_aux = orange
red = firebrick
red_aux = pink
blue = dodgerblue
blue_aux = skyblue
teal = teal
teal_aux = darkcyan
purple = rebeccapurple
purple_aux = mediumpurple
pink = deeppink
pink_aux = pink
