@import './theme.styl'
@import './anim.styl'

user_font = 'Muli','Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", ubuntu, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

user_radius = 5px

h1, h2, h3, h4, h5, h6
    font-family head_font_family !important
    color shade_5 !important

p, a, label, div, small
    font-family user_font !important
    color shade_4 !important


a
    &.active
        color lightblue !important
        &:hover
            cursor pointer
        
.loading
    min-height 60vh

.rammeto
    font-family: 'Rammetto One','Oregano','Comic Sans', cursive !important

.righteous
    font-family: 'Righteous', 'Oregano', 'Comic Sans', cursive !important

.muli
    font-family user_font !important

.card
    background-color shade_0
    box-shadow 0 1px 1px 1px rgba(0,0,0,.14), 0 -1px 1px -2px rgba(0,0,0,.2), 0 0px 1px 1px rgba(0,0,0,.12)
    border 1px solid shade_1 !important
    // box-shadow 0 1px 1px 1px shade_2, 0 -1px 1px -2px shade_1, 0 0px 1px 1px shade_1

.md-checkbox.md-theme-default.md-checked.md-primary
    .md-checkbox-container
        background-color primary_color !important
        border-color primary_color !important

.md-checkbox.md-theme-default.md-disabled.md-checked
    .md-checkbox-container
        background-color secondary_color !important
        border-color secondary_color !important

.md-checkbox.md-theme-default .md-checkbox-container
    border-color shade_4 !important

.md-radio.md-theme-default.md-checked.md-disabled.md-primary .md-radio-container
    border-color secondary_color !important

.md-radio.md-theme-default.md-checked.md-primary .md-radio-container
    border-color primary_color !important

.md-radio.md-theme-default.md-checked.md-primary .md-ripple
    color primary_color !important

.md-radio.md-theme-default.md-checked.md-disabled.md-primary .md-radio-container:after
    background-color secondary_color

.md-radio.md-theme-default.md-checked.md-primary .md-radio-container:after
    background-color primary_color
    
.md-field.md-theme-default.md-focused .md-input,
.md-field.md-theme-default.md-focused .md-textarea,
.md-field.md-theme-default.md-has-value .md-input,
.md-field.md-theme-default.md-has-value .md-textarea 
    -webkit-text-fill-color shade_4 !important
    text-fill-color shade_4 !important
    color shade_4 !important

.md-field.md-theme-default.md-focused .md-input,
.md-field.md-theme-default.md-focused .md-textarea,
.md-field.md-theme-default.md-highlight .md-input,
.md-field.md-theme-default.md-highlight .md-textarea
    color primary_color !important
.md-field.md-theme-default:after
    background-color shade_4 !important
.md-field.md-theme-default:before
    background-color primary_color !important

.md-datepicker-dialog.md-theme-default .md-datepicker-header
    background-color primary_color !important
.md-datepicker-dialog.md-theme-default
    color shade_4 !important
.md-datepicker-dialog.md-theme-default .md-datepicker-today
    color primary_color !important

.md-button.md-theme-default.md-primary
    color primary_color !important
.md-datepicker-dialog.md-theme-default
    color primary_color !important
    background-color shade_0 !important
.md-datepicker-dialog.md-theme-default .md-datepicker-week
    color shade_2 !important
.md-datepicker-dialog.md-theme-default .md-datepicker-day-button.md-datepicker-selected
    background-color primary_color
.md-button.md-theme-default
    color shade_4 !important
.ctk-date-time-picker .field .field-input
    background-color shade_1 !important
    color shade_4

.ctk-date-time-picker,
.ctk-date-time-picker input,
.ctk-date-time-picker label,
.ctk-date-time-picker p,
.ctk-date-time-picker span 
    color shade_4
    font-family user_font

.ctk-date-time-picker
    border-radius user_radius
    
.ctk-date-time-picker .field .field-input
    border none

.vue-swatches__container.vue-swatches--inline
    background-color shade_1 !important
    border-radius user_radius
    

v--modal-box.v--modal,
.v--modal
    background-color shade_aux

    @media (max-width : 1200px)
        width 55vw !important;
        margin : 0px auto;

    @media (max-width : 1024)
        width 60vw !important;
        margin : 0px auto;

    @media (max-width : 992px)
        width 70vw !important;
        margin : 0px auto;

    @media (max-width : 768px)
        width 90vw !important;
        margin : 0px auto;


.custom-select
.form-control
    color shade_4
    background shade_1 !important
    border none;
    border-radius user_radius
    
    padding-left 10px
    padding-right 10px
    &:focus
        border-color: shade_1 !important;
        box-shadow: none !important;
        border-color shade_1 !important
        outline none
    &::placeholder
       color shade_2
        

.btn-primary
    color: #fff
    background-color primary_color
    border-color primary_color
    &:hover
    &:focus
    &:active
    &:active:focus
        color: #fff
        background-color primary_color !important
        border-color primary_color !important

.btn-secondary
    color: #fff
    background-color secondary_color
    border-color secondary_color
    &:hover
    &:focus
    &:active
    &:active:focus
        color: #fff
        background-color secondary_color !important
        border-color secondary_color !important    
.bootstrap-select
.btn:focus
.form-control
.btn-secondary:focus
.btn-secondary.focus   
.btn-primary:focus
.btn-primary.focus	
	box-shadow none !important
	outline none !important
.dropdown-menu
	background-color shade_1
	color shade_5

	.dropdown-item
		color shade_5
		&:hover
		&:focus
			color shade_5
			background-color shade_2
			outline none !important
		
		&.active
		&:active
			color shade_5
			background-color primary_color
			outline none !important
			
		
.self-building-square-spinner
	>div
		background-color primary_color !important
		
.popover-container.expanded
	.popover-content
		background-color shade_aux !important
	.c-pane-container
		color shade_4 !important


.vgt-table thead th
.vgt-wrap__footer

    background shade_0 !important

.vgt-table thead th
    color shade_5

.vgt-global-search
    background shade_0
    border 1px solid shade_1

.vgt-table.bordered td, .vgt-table.bordered th, .vgt-wrap__footer
    border 1px solid shade_1

table.vgt-table td
table.vgt-table
    color shade_4
    background-color shade_0 !important
 
	
.vgt-table th.sorting:hover:after
	border-bottom-color primary_color
	
	
.vgt-table thead th.sorting-desc:after
	border-top 6px solid primary_color !important
