@import 'colors.styl'

if theme is 'light'
    shade = white
    shade_0 = lightness(shade,100%)
    shade_1 = lightness(shade,92%)
    shade_2 = lightness(shade,80%)
    shade_3 = lightness(shade,60%)
    shade_4 = lightness(shade,35%)
    shade_5 = lightness(shade,20%)
    shade_aux = lightness(shade,96%)
    primary_color = darkorange
    secondary_color = #555
    head_font_family = 'Raleway','Oxygen', -apple-system, BlinkMacSystemFont, "Segoe UI", ubuntu, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif

else
    shade = blue(lightness(#000,11),33)
    shade_0 = lightness(shade,7%)
    shade_1 = lightness(shade,13%)
    shade_2 = lightness(shade,20%)
    shade_3 = lightness(shade,28%)
    shade_4 = lightness(shade,70%)
    shade_5 = lightness(shade,80%)
    shade_aux = lightness(shade,10%)
    primary_color = teal
    secondary_color = #555
    head_font_family = 'Dosis','Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", ubuntu, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif


// if app color is defined it converts to the color
// if not, it will default to any of the primary colors
// defined above
if appColor is defined
    primary_color = convert(appColor)


.color_white
    color white !important

.color_dark
    color #222 !important

.color_0
    color shade_0 !important


.color_1
    color shade_1 !important

.color_2
    color shade_2 !important

.color_3
    color shade_3 !important

.color_4
    color shade_4 !important

.color_5
    color shade_5 !important

.color_aux
    color shade_aux !important

.bg_0
    background-color shade_0 !important

.bg_1
    background-color shade_1 !important

.bg_2
    background-color shade_2 !important

.bg_3
    background-color shade_3 !important

.bg_4
    background-color shade_4 !important

.bg_5
    background-color shade_5 !important

.bg_aux
    background-color shade_aux !important

.border_white
    border-color whitesmoke !important

.border_0
    border-color shade_0 !important

.border_1
    border-color shade_1 !important

.border_2
    border-color shade_2 !important

.border_3
    border-color shade_3 !important

.border_4
    border-color shade_4 !important

.border_5
    border-color shade_5 !important

.border_aux
    border-color shade_aux !important

.stroke_white
    stroke whitesmoke !important

.stroke_0
    stroke shade_0 !important

.stroke_1
    stroke shade_1 !important

.stroke_2
    stroke shade_2 !important

.stroke_3
    stroke shade_3 !important

.stroke_4
    stroke shade_4 !important

.stroke_5
    stroke shade_5 !important

.stroke_aux
    stroke shade_aux !important

.fill_0
    fill shade_0 !important

.fill_1
    fill shade_1 !important

.fill_2
    fill shade_2 !important

.fill_3
    fill shade_3 !important

.fill_4
    fill shade_4 !important

.fill_5
    fill shade_5 !important

.fill_aux
    fill shade_aux !important

.primary-color
	color primary_color !important

.primary-bg
	background-color primary_color !important

.primary-bg-light
	background-color lighten(primary_color,50%) !important

.primary-bg-dark
	background-color saturate(primary_color,50%) !important

.primary-border
	border-color primary_color !important
 	
.primary-stroke
    stroke primary_color !important

.primary-fill
	fill primary_color !important
	
.secondary-color
	color secondary_color !important

.secondary-bg
	background-color secondary_color !important

.secondary-bg-light
	background-color lighten(secondary_color,50%) !important

.secondary-bg-dark
	background-color darken(secondary_color,50%) !important

.secondary-border
	border-color secondary_color !important

.secondary-stroke
	stroke secondary_color !important

.secondary-fill
	fill secondary_color !important
	
.border-width-2
	border-width 2px !important

.border-width-3
	border-width 3px !important
